<section id="entradasConsumiblesPlantas">
	<div class="titulo">
		<h3><i class="icon-users"></i>Entradas Planta | <span class="subTitulo">Consumibles</span></h3>
	</div>
	<div class="row">
		<table class="gvDatos"></table>
	</div>

	<div class="medium modal-save reveal-modal reveal-custom small" data-reveal='data-reveal'>
		<div class="pop-head">
			<label><i class="icon-users"></i>Consumible<label>
		</div>
		<form class="form-data pop-body" data-abide>
			<div class="row">
				<div class="small-12 columns">
					<label>
						Consumible: <small>Requerido</small>
						<input type="text" placeholder="Nombre del consumible" data-field="idConsumible" data-include="consumible" class="tya" required>
					</label>
					<small class="error">Este campo es requerido.</small>
				</div>
				<!-- <div class="small-4 columns">
					<label>
						Tipo:
						<select data-field="tipo_asfalto">
							<option value="0">Seleccionar un tipo</option>
							<option value="1">AC-20</option>
							<option value="2">AC-20 MODIFICADO</option>
							<option value="3">MODIFICADO</option>
							<option value="4">MAQUILA MODIFICADO</option>
							<option value="5">AC-30</option>
							<option value="6">AC-30 MODIFICADO</option>
							<option value="7">PG-70-22</option>
							<option value="8">PG-76-22</option>
						</select>
					</label>
				</div> -->
			</div>
			<div class="row">
				<div class="small-4 columns">
					<label>
						Cantidad: <small>Requerido</small>
						<input type="text" placeholder="Cantidad" data-field="cantidad" maxlength="10" data-mask="decimalesx" pattern="decimales" required>
					</label>
					<small class="error">Este campo es requerido y debe ser numerico. Pj. 300, 500.5</small>
				</div>
				<div class="small-4 columns">
					<label>
						Hora: <small>Requerido</small>
						<input type="text" placeholder="15:05" data-field="hora" maxlength="5" data-mask="horas" pattern="horas" required>
					</label>
					<small class="error">Este campo es requerido. Pj. 15:05</small>
				</div>
				<div class="small-4 columns">
					<label>
						Fecha: <small>Requerido</small>
						<input type="text" placeholder="YYYY-MM-DD" data-field="fecha" class="date" maxlength="10" data-mask="fecha" required>
					</label>
					<small class="error">Este campo es requerido.</small>
				</div>
			</div>
		</form>
		<div class="row pop-foot">
			<div class="small-12 columns">
				<button type="button" class="btn-aceptar btn tiny btn-success button ico-guardar">Guardar</button>
				<button type="button" class="btn-cancelar btn tiny btn-danger button ico-cancelar">Cancelar</button>
			</div>
		</div>
	</div>

	<div class="medium modal-insert reveal-modal reveal-custom show-scroll custom" data-reveal='data-reveal'>
		<div class="pop-head">
			<label><i class="icon-users"></i>Consumible<label>
		</div>
		<form class="form-data pop-body" data-abide>
			<div class="row">
				<div class="small-5 columns">
					<label>
						&nbsp;
					</label>
				</div>
				<div class="small-3 columns">
					<label>
						Hora: <small>Requerido</small>
						<input type="text" placeholder="15:05" data-field="hora" maxlength="5" data-mask="horas" pattern="horas" required>
					</label>
					<small class="error">Este campo es requerido. Pj. 15:05</small>
				</div>
				<div class="small-4 columns">
					<label>
						Fecha: <small>Requerido</small>
						<input type="text" placeholder="YYYY-MM-DD" data-field="fecha" class="date" maxlength="10" data-mask="fecha" required>
					</label>
					<small class="error">Este campo es requerido.</small>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<table class="table table-custom gv-datos table-compact">
						<thead>
							<tr class="titulo">
								<th>Consumible</th>
								<!-- <th class="min">Tipo</th> -->
								<th class="min">Cantidad</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</form>
		<div class="row pop-foot">
			<div class="small-12 columns">
				<button type="button" class="btn-aceptar btn tiny btn-success button ico-guardar">Guardar</button>
				<button type="button" class="btn-cancelar btn tiny btn-danger button ico-cancelar">Cancelar</button>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="small-12 columns">
			<button type="button" class="btn-nuevo tiny btn button ico-agregar btn-success">Agregar</button>
			<button type="button" class="btn-modificar btn tiny btn-primary button ico-modificar">Modificar</button>
			<button type="button" class="btn-eliminar btn tiny button btn-danger ico-cancelar">Eliminar</button>
		</div>
	</div>

	<script type="text/template-handlebars-x" class="tmp_tr_datos">
		{{#data}}
			<tr data-idconsumible="{{idConsumible}}" data-nombre="{{nombre}}">
				<td class="on-padding">{{nombre}}</td>
				<!-- <td class="text-center">
				{{#ifCond tipo 6}}
					&nbsp;
					<select data-field="tipo_asfalto">
						<option value="1">AC-20</option>
						<option value="2">AC-20 MODIFICADO</option>
						<option value="3">MODIFICADO</option>
						<option value="4">MAQUILA MODIFICADO</option>
						<option value="5">AC-30</option>
						<option value="6">AC-30 MODIFICADO</option>
						<option value="7">PG-70-22</option>
						<option value="8">PG-76-22</option>
					</select>
				{{else}}
					-
				{{/ifCond}}
				</td> -->
				<td>
					<input type="text" class="text-right" data-field="cantidad" value="0">
				</td>
			</tr>
		{{/data}}
	</script>

</section>