<section id="salidasEmulsiones">
	<div class="titulo">
		<h3><i class="icon-users"></i>Salidas | <span class="subTitulo">Emulsiones</span></h3>
	</div>
	<div class="row">
		<table class="gvDatos"></table>
	</div>
	<div class="xlarge modal-save reveal-modal reveal-custom" data-reveal='data-reveal'>
		<div class="pop-head">
			<label><i class="icon-users"></i>Emulsion<label>
		</div>
		<form class="form-data pop-body" data-abide>
			<div class="row">
				<div class="small-6 columns">
					<label>
						Cliente: <small>Requerido</small>
						<input type="text" class="tya" placeholder="Nombre del cliente" data-field="idCliente" data-include="cliente" required>
					</label>
					<small class="error">Este campo es requerido.</small>
				</div>
				<div class="small-6 columns">
					<label>
						Obra: <small>Requerido</small>
						<input type="text" class="tya" placeholder="Nombre de la obra" data-field="idObra" data-include="obra" required>
					</label>
					<small class="error">Este campo es requerido.</small>
				</div>
			</div>
			<div class="row">
				<div class="small-3 columns">
					<label>
						Litros Iniciales: <small>Requerido</small>
						<input type="text" placeholder="Litros iniciales" data-field="litrosIniciales" maxlength="10" data-mask="decimalesx" pattern="decimales" required>
					</label>
					<small class="error">Este campo es requerido, y debe ser numerico. Pj. 2.5, 500</small>
				</div>
				<div class="small-3 columns">
					<label>
						Metros³ Tendidos: <small>Requerido</small>
						<input type="text" placeholder="Metros tendidos" data-field="metrosTendidos" maxlength="10" data-mask="decimalesx" pattern="decimales" required>
					</label>
					<small class="error">Este campo es requerido, y debe ser numerico. Pj. 2.5, 500</small>
				</div>
				<div class="small-2 columns">
					<label>
						Presion: <small>Requerido</small>
						<input type="text" placeholder="Presion" data-field="rpm" maxlength="50" data-mask="decimalesx" pattern="decimales" required>
					</label>
					<small class="error">Este campo es requerido. Pj. 1.5</small>
				</div>
				<div class="small-2 columns">
					<label>
						Hora: <small>Requerido</small>
						<input type="text" placeholder="15:05" data-field="hora" maxlength="5" data-mask="horas" pattern="horas" required>
					</label>
					<small class="error">Este campo es requerido. Pj. 15:05</small>
				</div>
				<div class="small-2 columns">
					<label>
						Fecha: <small>Requerido</small>
						<input type="text" placeholder="YYYY-MM-DD" data-field="fecha" class="date" maxlength="10" data-mask="fecha" required>
					</label>
					<small class="error">Este campo es requerido.</small>
				</div>
			</div>
		</form>
		<div class="row pop-foot">
			<div class="small-12 columns">
				<button type="button" class="btn-aceptar btn tiny btn-success button ico-guardar">Guardar</button>
				<button type="button" class="btn-cancelar btn tiny btn-danger button ico-cancelar">Cancelar</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<button type="button" class="btn-nuevo tiny btn button ico-agregar btn-success">Agregar</button>
			<button type="button" class="btn-modificar btn tiny btn-primary button ico-modificar">Modificar</button>
			<button type="button" class="btn-eliminar btn tiny button btn-danger ico-cancelar">Eliminar</button>
		</div>
	</div>
</section>