<!DOCTYPE html>
<html lang="es">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>TAJSA</title>
		<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon.png">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<link rel="stylesheet" href="/css/normalize.css" type="text/css" media="all"/>
		<link rel="stylesheet" href="/css/typeahead.css" type="text/css" media="all"/>		
		<link rel="stylesheet" href="/css/jquery.datetimepicker.css" type="text/css" media="all"/>
		<link rel="stylesheet" href="/css/icomoon.css" type="text/css" media="all"/>		
		<link rel="stylesheet" href="/css/foundation.min_v5.css" type="text/css" media="all"/>
		<link rel="stylesheet" href="/css/stylus/main.css" type="text/css" media="all"/>

		<script type="text/javascript" src="/js/deps/jquery-2.2.3.min.js"></script>
		<script type="text/javascript" src="/js/login/login.js"></script>
	</head>
	<body class="bodyTajsa">
	<div class="side1"></div>
	<div class="side2">
		<div class="loginLogo">
			<label class="textLogin"><b>TAJSA</b></label>
			<label class="textLogin2">Bienvenido</label>
			<img src="/img/logo.png"/>
		</div>
		<div class="loginContent">		
			<div class="loginControls">		
				<form class="form-login">
					<div class="content-input">
						<input type="text" class="form-control" id="txtUsuario" value="tajsa" placeholder="Introduce tu usuario" aria-describedby="basic-addon1">
					</div>
					<div class="content-input">						
						<input class="form-control" type="password" id="txtPassword" value="tajsa" placeholder="Introduce tu contraseña" aria-describedby="basic-addon1">
					</div>
					<label class="text-center is-hidden msnError">
						<span class="error-login"><i class="icon-blocked"></i>El usuario o la contraseña no son correctos.</span>
					</label>
					<br/>			
				</form>
			</div>
			<button  type="button" class="btn-login loginBttn">Iniciar sesión</button>	
		</div>
	</div>
	<div class="footer">
		<div class="leftFooter">
			<figure class="loginLogoFooter">
				<!-- <a href="http://www.armedigital.com/"><span>Powered by</span> <img src="/img/logofooter.png"/></a> -->
				<span>Powered by</span> <img src="/img/logofooter.png"/>
			</figure>
		</div>		
		<label class="rightFooter">
			2016 todos los derechos reservados.
		</label>		
	</div>
	</body>
</html>