<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>TAJSA</title>
		<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon.png">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>

		<link rel="stylesheet" href="/css/normalize.css" type="text/css" media="all"/>
		<link rel="stylesheet" href="/css/typeahead.css" type="text/css" media="all"/>
		<link rel="stylesheet" href="/css/jquery.datetimepicker.css" type="text/css" media="all"/>
		<link rel="stylesheet" href="/css/icomoon.css" type="text/css" media="all"/>
		<link rel="stylesheet" href="/css/foundation.css" type="text/css" media="all"/>
		<link rel="stylesheet" href="/css/stylus/main.css" type="text/css" media="all"/>
		
		<!-- <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'> -->

		<script type="text/javascript">
			window.requireNode = window.require;
			window.require = undefined; 
		</script>
	</head>
	<body>
		<header>
			<!-- <section class="head-center">
				<i class="icon-searchTin"></i><input type="text" placeholder=" Buscar" class="buscarMain" />
			</section> -->
			<section class="head-right">
				<div class="conSyn"><i class="icon-spinner btn-sync"></i></div>
				<ul class="user-options">
					<li class="area-user">
						<a class="user-info">
							<span class="circle-user menuOpen">
								<img src="/img/imagenPerfil.png"/>
							</span>
							<i class="icon-chevron-down menuOpen"></i>
						</a>
					</li>
				</ul>
			</section>
		</header>
		<ul class="user-menu">
			<!-- <li>
				<a href="#usuarioNuevo?idUsuario=<%#= @usuario['idUsuario'] %>">
					<i class="icon-settings"></i> Configuracion
				</a>
			</li> -->
			<li>
				<a href="/sesiones/logout">
					<i class="icon-logout"></i> Salir
				</a>
			</li>
		</ul>
		<nav>
			<section class="head-left">
				<img src="/img/logoNav.png"/>
			</section>
			<br/>
			<div class="busqueda">
				<span>
					<i class="icon-searchTin"></i><input type="text" class="txtBusqueda" placeholder="Busqueda de menu"/>	
				</span>
			</div>
			<ul class="menu-n1">
				<li class="has-submenu">
					<a href="#"><i class="icon-settings"></i><label class="textMenu">Catalogos</label></a>
					<ul class="menu-n2" style="display: none;">
						<li><a href="#clientes"><i class="icon-punto inicioM2"></i>Clientes</a></li>
						<!-- <li><a href="#consumibles"><i class="icon-punto inicioM2"></i>Consumibles</a></li>
						<li><a href="#empleados"><i class="icon-punto inicioM2"></i>Empleados</a></li>
						<li><a href="#maquinas"><i class="icon-punto inicioM2"></i>Maquinas</a></li> -->
						<li><a href="#materiales"><i class="icon-punto inicioM2"></i>Materiales Petreos</a></li>
						<li><a href="#obras"><i class="icon-punto inicioM2"></i>Obras</a></li>
						<!-- <li><a href="#operadoresMaquinas"><i class="icon-punto inicioM2"></i>Operadores Maquinas</a></li> -->
						<li><a href="#productos"><i class="icon-punto inicioM2"></i>Productos</a></li>
						<!-- <li><a href="#usuarios"><i class="icon-punto inicioM2"></i>Usuarios</a></li> -->
						<!-- <li><a href="#configuraciones"><i class="icon-punto inicioM2"></i>Configuraciones</a></li> -->
					</ul>
				</li>
				<!-- <li class="has-submenu">
					<a href="#"><i class="icon-listpunto"></i><label class="textMenu">Combustibles</label></a>
					<ul class="menu-n2" style="display: none;">
						<li><a href="#maquinas"><i class="icon-punto inicioM2"></i>Maquinas</a></li>
						<li><a href="#entradasConsumibles"><i class="icon-punto inicioM2"></i>Entradas</a></li>
						<li><a href="#salidasConsumibles"><i class="icon-punto inicioM2"></i>Salidas</a></li>
						<li><a href="#impregnaciones"><i class="icon-punto inicioM2"></i>Impregnaciones</a></li>
					</ul>
				</li>
				<li class="has-submenu">
					<a href="#"><i class="icon-bars"></i><label class="textMenu">Petrolizadora</label></a>
					<ul class="menu-n2" style="display: none;">
						<li><a href="#entradasEmulsiones"><i class="icon-punto inicioM2"></i>Entradas de emulsiones</a></li>
						<li><a href="#salidasEmulsiones"><i class="icon-punto inicioM2"></i>Tendidos</a></li>
					</ul>
				</li> -->
				<li class="has-submenu">
					<a href="#"><i class="icon-vcard"></i><label class="textMenu">Planta</label></a>
					<ul class="menu-n2" style="display: none;">
						<li><a href="#entradasMateriales"><i class="icon-punto inicioM2"></i>Entrada de Materiales Petreos</a></li>
						<li><a href="#entradasConsumiblesPlantas"><i class="icon-punto inicioM2"></i>Entrada de Consumibles</a></li>
						<li><a href="#salidasMateriales"><i class="icon-punto inicioM2"></i>Salida de Materiales Petreos</a></li>
						<li><a href="#salidasEmulsionesPlantas"><i class="icon-punto inicioM2"></i>Salida de Consumibles</a></li>
						<li><a href="#producciones"><i class="icon-punto inicioM2"></i>Producciones</a></li>
						<li><a href="#inventariosAjustes"><i class="icon-punto inicioM2"></i>Existencias</a></li>
						<li><a href="#cierres"><i class="icon-punto inicioM2"></i>Cortes</a></li>
					</ul>
				</li>
				<!-- <li class="has-submenu">
					<a href="#"><i class="icon-bars"></i><label class="textMenu">Control</label></a>
					<ul class="menu-n2" style="display: none;">
						<li><a href="#salidasConsumibles"><i class="icon-punto inicioM2"></i>Consumibles</a></li>
						<li><a href="#impregnaciones"><i class="icon-punto inicioM2"></i>Impregnaciones</a></li>
					</ul>
				</li> -->
				<li class="has-submenu">
					<a href="#"><i class="icon-books"></i><label class="textMenu">Reportes</label></a>
					<ul class="menu-n2" style="display: none;">
						<li><a href="#reporteDiario"><i class="icon-punto inicioM2"></i>Cortes</a></li>
					</ul>
				</li>
				<!-- <li class="has-submenu">
					<a href="#"><i class="icon-vcard"></i><label class="textMenu">Ventas</label></a>
					<ul class="menu-n2" style="display: none;">
						<li><a href="#vendedores"><i class="icon-punto inicioM2"></i>Vendedores</a></li>
						<li><a href="#prospectos"><i class="icon-punto inicioM2"></i>Prospectos</a></li>
					</ul>
				</li> -->
			</ul>
			<ul class="search-n1 is-hidden">
			</ul>
		</nav>

		<main>
			<section id="load_content" class="show-scroll">
			</section>
		</main>

		<div class="wrap-layer">
		</div>
		
		<section class="loading">
			<label>
				<i class="icon-spinner tya-loading icon-spin"></i> Cargando...
			</label>
		</section>

		<div class="pnl-print is-hidden"></div>

		<section class="pnlAlert warning ">
		</section>

		<div id="popConfirmacion" class="reveal-modal tiny popConfirmacion reveal-custom" data-reveal="data-reveal">
			<section class="pop-head">
				<label>Eliminar</label>
			</section>
			<section class="pop-body">
				<label class='pregunta'>¿Desea eliminar el registro seleccionado?</label>
			</section>
			<section class="pop-footer">
				<button type="button" class="button success tiny btn-aceptar ico-aceptar">Aceptar</button>
				<button type="button" class="button alert tiny btn-cancelar ico-cancelar">Cancelar</button>
			</section>
		</div>

		<div class="reveal-modal tiny reveal-custom" id="popAdvertencia" data-reveal>
			<section class="pop-head">
				<label>Advertencia</label>
			</section>
			<section class="pop-body text-left">
				<label class="mensaje"></label>
			</section>
			<section class="pop-footer">
				<button type="button" class="button tiny success custom-button btn-aceptar aceptar-btn">Aceptar</button>
			</section>
		</div>

		<div class="reveal-modal large reveal-custom" id="popHelperTya" data-reveal>
			<section class="pop-head">
				<label>Busqueda</label>
			</section>
			<section class="pop-body text-left">
				<table class="table table-custom gv-hya">
				</table>
			</section>
			<section class="pop-footer">
				<button type="button" class="button alert tiny btn-cancelar cancelar-btn">Cancelar</button>
			</section>
		</div>

		<script type="text/template-handlebars-x" class="tmp_table_hya">
			<thead>
				<tr class="titulo">
					{{#keys}}
					<th>
						<span>{{.}}</span>
					</th>
					{{/keys}}
				</tr>
			</thead>
			<tbody>
				{{#rows}}
				<tr data-info="{{toJSON .}}">
					{{#each .}}
						{{#notCol @key}}
							<td>{{.}}</td>
						{{/notCol}}
					{{/each}}
				</tr>
				{{/rows}}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="{{long}}">
						<a href="#" class="prev-hya"><i class="icon-prev"></i> Anterior</a> | 
						<a href="#" class="next-hya"><i class="icon-next"></i> Sigiente</a>
					</td>
				</tr>
			</tfoot>
		</script>

		<script type="text/template-handlebars-x" class="tmp_ul_menus_bs">
			{{#menus}}
				{{#if menus}}
					<li class="has-submenu">
						<a href="#{{pagina}}">{{nombre}} <i class="fa fa-fw fa-caret-right"></i></a>
						<ul class="menu-n2">
							{{#menus}}
								<li><a href="#{{pagina}}">{{nombre}}</a></li>
							{{/menus}}
						</ul>
					</li>
				{{else}}
					<li><a href="#{{pagina}}">{{nombre}}</a></li>
				{{/if}}
			{{/menus}}
		</script>

		<script type="text/javascript" data-main="/js/main" src="/js/deps/require_2.2.0.js"></script>
	</body>
</html>
