<section id="entradasConsumibles">
	<div class="titulo">
		<h3><i class="icon-users"></i>Entradas Generales | <span class="subTitulo">Combustibles</span></h3>
	</div>
	<div class="row">
		<table class="gvDatos"></table>
	</div>
	<div class="medium modal-save reveal-modal reveal-custom small" data-reveal='data-reveal'>
		<div class="pop-head">
			<label><i class="icon-users"></i>Entrada
				<span class="right icon-cross pointer ico-cancel"></span>
			<label>
		</div>
		<form class="form-data pop-body" data-abide>
			<div class="row">
				<div class="small-12 columns">
					<label>
						Combustible: <small>Requerido</small>
						<input type="text" placeholder="Nombre del consumible" data-field="idConsumible" data-include="consumible" class="tya" required>
					</label>
					<small class="error">Este campo es requerido.</small>
				</div>
			</div>
			<div class="row">
				<div class="small-3 columns">
					<label>
						Litros: <small>Requerido</small>
						<input type="text" placeholder="Litros" data-field="cantidad" maxlength="10" data-mask="decimalesx" pattern="decimales" required>
					</label>
					<small class="error">Este campo es requerido y debe ser numerico, maximo dos decimales. Pj. 5000, 300.50</small>
				</div>
				<div class="small-2 columns">
					<label>
						Orden:
						<input type="text" placeholder="Orden" data-field="orden" maxlength="6" data-mask="numeros" pattern="numeros" >
					</label>
				</div>
				<div class="small-2 columns">
					<label>
						Folio:
						<input type="text" placeholder="Orden" data-field="folio" maxlength="6" data-mask="numeros" pattern="numeros" >
					</label>
				</div>
				<div class="small-2 columns">
					<label>
						Hora: <small>Requerido</small>
						<input type="text" placeholder="15:05" data-field="hora" maxlength="5" data-mask="horas" pattern="horas" required>
					</label>
					<small class="error">Este campo es requerido. Pj. 15:05</small>
				</div>
				<div class="small-3 columns">
					<label>
						Fecha: <small>Requerido</small>
						<input type="text" placeholder="YYYY-MM-DD" data-field="fecha" class="date" maxlength="10" data-mask="fecha" required>
					</label>
					<small class="error">Este campo es requerido.</small>
				</div>
			</div>
		</form>
		<div class="row pop-foot">
			<div class="small-12 columns">
				<button type="button" class="btn-aceptar btn tiny btn-success button ico-guardar">Guardar</button>
				<button type="button" class="btn-cancelar btn tiny btn-danger button ico-cancelar">Cancelar</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<button type="button" class="btn-nuevo tiny btn button ico-agregar btn-success">Agregar</button>
			<button type="button" class="btn-modificar btn tiny btn-primary button ico-modificar">Modificar</button>
			<button type="button" class="btn-eliminar btn tiny button btn-danger ico-cancelar">Eliminar</button>
		</div>
	</div>
</section>
