<section id="prospectos">
	<div class="titulo">
		<h3><i class="icon-users"></i>Catalogo | <span class="subTitulo">Prospectos</span></h3>
	</div>
	<div class="row">
		<table class="gvDatos"></table>
	</div>
	<div class="medium modal-save reveal-modal reveal-custom small" data-reveal='data-reveal'>
		<div class="pop-head">
			<label><i class="icon-users"></i>Prospecto
				<span class="right icon-cross pointer ico-cancel"></span>
			<label>
		</div>
		<form class="form-data pop-body" data-abide>
			<div class="row">
				<div class="small-4 columns">
					<label>
						Nombre: <small>Requerido</small>
						<input type="text" placeholder="Nombre" data-field="nombre" maxlength="100" required>
					</label>
					<small class="error">Este campo es requerido.</small>
				</div>
				<div class="small-4 columns">
					<label>
						Apellido Paterno: <small>Requerido</small>
						<input type="text" placeholder="Apellido paterno" data-field="apaterno" maxlength="100" required>
					</label>
					<small class="error">Este campo es requerido.</small>
				</div>
				<div class="small-4 columns">
					<label>
						Apellido Materno: <small>Requerido</small>
						<input type="text" placeholder="Apellido materno" data-field="amaterno" maxlength="100" required>
					</label>
					<small class="error">Este campo es requerido.</small>
				</div>
			</div>
			<div class="row">
				<div class="small-3 columns">
					<label>
						Empresa: <small>Requerido</small>
						<input type="text" placeholder="Nombre de la emrpesa" data-field="empresa" maxlength="100" required>
					</label>
					<small class="error">Este campo es requerido.</small>
				</div>
				<div class="small-3 columns">
					<label>
						Telefono:
						<input type="text" placeholder="Numero de telefono" data-field="telefono" maxlength="30">
					</label>
				</div>
				<div class="small-3 columns">
					<label>
						Celular:
						<input type="text" placeholder="Numero de celular" data-field="celular" maxlength="30">
					</label>
				</div>
				<div class="small-3 columns">
					<label>
						Email:
						<input type="text" placeholder="Correo electronico" data-field="email" maxlength="128">
					</label>
				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<label>
						Observaciones:
						<textarea data-field="observaciones"></textarea>
					</label>
					<small class="error">Este campo es requerido.</small>
				</div>
			</div>
		</form>
		<div class="row pop-foot">
			<div class="small-12 columns">
				<button type="button" class="btn-aceptar btn tiny btn-success button ico-guardar">Guardar</button>
				<button type="button" class="btn-cancelar btn tiny btn-danger button ico-cancelar">Cancelar</button>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<button type="button" class="btn-nuevo tiny btn button ico-agregar btn-success">Agregar</button>
			<button type="button" class="btn-modificar btn tiny btn-primary button ico-modificar">Modificar</button>
			<button type="button" class="btn-eliminar btn tiny button btn-danger ico-cancelar">Eliminar</button>
		</div>
	</div>
</section>
