icon-change = 	'\e602'
icon-mail = 	'\f003'
icon-bell = 	'\f0a2'
icon-comment = 	'\f0e5'
icon-group = 	'\f037'
icon-help = 	'\f02c'
icon-users = 	'\e972'
icon-user = 	'\e60b'
icon-cross = 	'\e117'
icon-calendar = '\e600'
icon-badge = 	'\e601'
icon-spinner = 	'\e603'
icon-next = 	'\e604'
icon-begin = 	'\e605'
icon-home = 	'\e606'
icon-correct = 	'\e607'
icon-end = 	    '\e608'
icon-checkbox = '\e609'
icon-vcard = 	'\e60a'
icon-folder = 	'\e60c'
icon-books = 	'\e920'
icon-profile = 	'\e923'
icon-user-tie = '\e976'
icon-man-woman = '\e9de'
icon-search = 	'\f02e'
icon-menu = 	'\f05e'
icon-chevron-right = '\f079'
icon-settings = '\f085'
icon-chevron-down =  '\f0a3'
icon-desc = '\f160'
icon-asc = 	'\f161'
icon-border-bottom = '\f161'
icon-border-left = '\e60e'
icon-border-right = '\e60f'
icon-border-top = '\e610'
icon-preview = 	'\e007'
icon-side = '\e614'
icon-container = '\e612'
icon-text = '\f031'
icon-image = '\f03e'
icon-square = '\f096'
icon-newSection = '\e615'
icon-minus = '\e611'
icon-arrow = '\e616'
icon-move-vertical = '\e617'
icon-plus = '\f05d'
icon-copy = '\e92c'
icon-listpunto = '\e9bb'
icon-trash = '\e619'
icon-random = '\e618'
icon-save = '\f0c7'
icon-punto = '\e61a'
icon-chat = '\e61b'
icon-empresa = '\e903'
icon-add = '\e61c'
icon-emergencia = '\e998'
icon-download = '\e933'
icon-upload = '\e934'
icon-cross-bold = '\ea0f'
icon-blocked = '\ea0e'
icon-modify = '\e906'
icon-key = '\e61d'
icon-money = '\e61f'
icon-bars = '\e628'
icon-allGrap = '\e62f'
icon-Colum = '\e61e'
icon-area-chart = '\f1fe'
icon-pie-chart = '\f200'
icon-line-chart = '\f201'
icon-medalla = '\e621'
icon-print = '\e624'
icon-export = '\e622'
icon-add-user = '\e973'
icon-align-left-text = '\e027'
icon-align-center-text = '\e028'
icon-align-right-text = '\e029'
icon-align-bottom = '\e625'
icon-align-middle = '\e626'
icon-radius = '\e627'
icon-flechaAtras = '\e629'
icon-time = '\e62a'
icon-lock = '\e62b'
icon-clipboard = '\e9b8'
icon-send = '\e62c'
icon-logout = '\f032'
icon-phone = '\e900'
icon-userFill = '\e902'
icon-searchTin = '\e901'
icomoon()
	font-family 'icomoon'

clear()
	margin 0
	padding 0

fsombra(x = 3px, y = 3px, d = 10px, c = #333)
	text-shadow x y d c
.icon-userFill::before
	content icon-userFill
	icomoon()
.icon-searchTin::before
	content icon-searchTin
	icomoon()
.icon-phone::before
	content icon-phone
	icomoon()
.icon-send::before
	content icon-send
	icomoon()
.icon-lock::before
	content icon-locks
	icomoon()
.icon-clipboard::before
	content icon-clipboard
	icomoon()
.icon-flechaAtras::before
	content icon-flechaAtras
	icomoon()
.icon-time::before
	content icon-time
	icomoon()
.icon-align-middle::before
	content icon-align-middle
	icomoon()
.icon-radius::before
	content icon-radius
	icomoon()
.icon-align-bottom::before
	content icon-align-bottom
	icomoon()
.icon-align-left-text::before
	content icon-align-left-text
	icomoon()
.icon-align-center-text::before
	content icon-align-center-text
	icomoon()
.icon-align-right-text::before
	content icon-align-right-text
	icomoon()
.icon-print::before
	content icon-print
	icomoon()
.icon-add-user::before
	content icon-add-user
	icomoon()
.icon-export::before
	content icon-export
	icomoon()
.icon-vcard::before
	content icon-vcard
	icomoon()	
.icon-user::before
	content icon-user
	icomoon()
.icon-bell::before
	content icon-bell
	icomoon()
.icon-comment::before
	content icon-comment
	icomoon()
.icon-mail::before
	content icon-mail
	icomoon()
.icon-help::before
	content icon-help
	icomoon()
.icon-change::before
	content icon-change
	icomoon()
.icon-group::before
	content icon-group
	icomoon()
.icon-users::before
	content icon-users
	icomoon()
.icon-user::before
	content icon-user
	icomoon()
.icon-cross::before
	content icon-cross
	icomoon()
.icon-calendar::before
	content icon-calendar
	icomoon()
.icon-badge::before
	content icon-badge
	icomoon()
.icon-spinner::before
	content icon-spinner
	icomoon()
.icon-next::before
	content icon-next
	icomoon()
.icon-begin::before
	content icon-begin
	icomoon()
.icon-home::before
	content icon-home
	icomoon()
.icon-correct::before
	content icon-correct
	icomoon()
.icon-end::before
	content icon-end
	icomoon()
.icon-checkbox::before
	content icon-checkbox
	icomoon()
.icon-folder::before
	content icon-folder
	icomoon()
.icon-books::before
	content icon-books
	icomoon()
.icon-profile::before
	content icon-profile
	icomoon()
.icon-user-tie::before
	content icon-user-tie
	icomoon()
.icon-man-woman::before
	content icon-man-woman
	icomoon()
.icon-search::before
	content icon-search
	icomoon()
.icon-menu::before
	content icon-menu
	icomoon()
.icon-chevron-right::before
	content icon-chevron-right
	icomoon()
.icon-settings::before
	content icon-settings
	icomoon()
.icon-chevron-down::before
	content icon-chevron-down
	icomoon()
.icon-desc::before
	content icon-desc
	icomoon()
.icon-asc::before
	content icon-asc
	icomoon()
.icon-border-bottom::before
	content icon-border-bottom
	icomoon()
.icon-border-left::before
	content icon-border-left
	icomoon()
.icon-border-right::before
	content icon-border-right
	icomoon()
.icon-border-top::before
	content icon-border-top
	icomoon()
.icon-preview::before
	content icon-preview
	icomoon()
.icon-side::before
	content icon-side
	icomoon()
.icon-container::before
	content icon-container
	icomoon()
.icon-text::before
	content icon-text
	icomoon()
.icon-image::before
	content icon-image
	icomoon()
.icon-square::before
	content icon-square
	icomoon()
.icon-newSection::before
	content icon-newSection
	icomoon()
.icon-minus::before
	content icon-minus
	icomoon()
.icon-arrow::before
	content icon-arrow
	icomoon()
.icon-move-vertical::before
	content icon-move-vertical
	icomoon()
.icon-plus::before
	content icon-plus
	icomoon()
.icon-copy::before
	content icon-copy
	icomoon()
.icon-listpunto::before
	content icon-listpunto
	icomoon()
.icon-trash::before
	content icon-trash
	icomoon()
.icon-random::before
	content icon-random
	icomoon()
.icon-save::before
	content icon-save
	icomoon()
.icon-punto::before
	content icon-punto
	icomoon()
.icon-chat::before
	content icon-chat
	icomoon()
.icon-empresa::before
	content icon-empresa
	icomoon()
.icon-add::before
	content icon-add
	icomoon()
.icon-emergencia::before
	content icon-emergencia
	icomoon()
.icon-download::before
	content icon-download
	icomoon()
.icon-upload::before
	content icon-upload
	icomoon()
.icon-cross-bold::before
	content icon-cross-bold
	icomoon()
.icon-blocked::before
	content icon-blocked
	icomoon()
.icon-modify::before
	content icon-modify
	icomoon()
.icon-key::before
	content icon-key
	icomoon()
.icon-bars::before
	content icon-bars
	icomoon()
.icon-money::before
	content icon-money
	icomoon()
.icon-bars::before
	content icon-bars
	icomoon()
.icon-allGrap::before
	content icon-allGrap
	icomoon()
.icon-area-chart::before
	content icon-area-chart
	icomoon()
.icon-pie-chart::before
	content icon-pie-chart
	icomoon()
.icon-line-chart::before
	content icon-line-chart
	icomoon()
.icon-Colum::before
	content icon-Colum
	icomoon()
.icon-medalla::before
	content icon-medalla
	icomoon()
.icon-logout::before
	content icon-logout
	icomoon()
.ico-agregar
	&::before
		icomoon()
		content icon-add
		margin-right 10px
		font-size 15px
.ico-profile
	&::before
		icomoon()
		content icon-profile
		margin-right 10px
		font-size 15px
.ico-cancelar
	&::before
		icomoon()
		content icon-cross
		margin-right 10px
		font-size 15px
.ico-telefono
	&::before
		icomoon()
		content icon-phone
		margin-right 10px
		font-size 15px
.ico-modal
	&::before
		icomoon()
		content icon-newSection
		margin-right 10px
		font-size 15px
.ico-modificar
	&::before
		icomoon()
		content icon-modify
		margin-right 10px
		font-size 15px
.ico-aceptar
	&::before
		icomoon()
		content icon-correct
		margin-right 10px
		font-size 15px
.ico-guardar
	&::before
		icomoon()
		content icon-save
		margin-right 10px
		font-size 15px
.ico-volver
	&::before
		icomoon()
		content icon-flechaAtras
		margin-right 10px
		font-size 15px
.ico-enviar
	&::before
		icomoon()
		content icon-send
		margin-right 10px
		font-size 15px
.ico-datos
	&::before
		icomoon()
		content icon-profile
		margin-right 10px
		margin-top 0px
		margin-bottom 0px
		font-size 15px
.ico-grupo
	&::before
		icomoon()
		content icon-group
		margin-right 10px
		font-size 15px
.ico-validar
	&::before
		icomoon()
		content icon-checkbox
		margin-right 10px
		font-size 15px
.ico-login
	&::before
		font-family 'icomoon'
		content icon-key
		margin-right 10px
		font-size 15px
.ico-baja
	&::before
		icomoon()
		content icon-download
		margin-right 10px
		font-size 20px
.ico-ver
	&::before
		icomoon()
		content icon-preview
		margin-right 10px
		font-size 15px
.ico-cambiar
	&::before
		icomoon()
		content icon-change
		margin-right 10px
		font-size 15px
.ico-buscar
	&::before
		icomoon()
		content icon-search
		margin-right 10px
		font-size 15px	
.ico-chat
	&::before
		icomoon()
		content icon-chat
		margin-right 10px
		font-size 15px
.ico-dinero
	&::before
		icomoon()
		content icon-money
		margin-right 10px
		font-size 15px	
.ico-subir
	&::before
		icomoon()
		content icon-upload
		margin-right 10px
		font-size 15px	
.ico-lineas
	&::before
		icomoon()
		content icon-line-chart
		margin-right 10px
		font-size 15px	
.ico-todasGraficas
	&::before
		icomoon()
		content icon-allGrap
		margin-right 10px
		font-size 15px	
.ico-area
	&::before
		icomoon()
		content icon-area-chart
		margin-right 10px
		font-size 15px	
.ico-columnas
	&::before
		icomoon()
		content icon-Colum
		margin-right 10px
		font-size 15px	
.ico-barras
	&::before
		icomoon()
		content icon-bars
		margin-right 10px
		font-size 15px	
.ico-pastel
	&::before
		icomoon()
		content icon-pie-chart
		margin-right 10px
		font-size 15px	
.ico-generar
	&::before
		icomoon()
		content icon-settings
		margin-right 10px
		font-size 15px
.ico-imprimir
	&::before
		icomoon()
		content icon-print
		margin-right 10px
		font-size 15px	
.ico-exportar
	&::before
		icomoon()
		content icon-export
		margin-right 10px
		font-size 15px
.ico-asignar
	&::before
		icomoon()
		content icon-clipboard
		margin-right 10px
		font-size 15px	