//*************************************LOGIN*************************************
body
	background-color #25303B !important
.inputs-custom
	padding 10px !important
	border none !important
	border-bottom solid 2px #c9c9c9 !important
	transition border 0.3s !important
	background-color #25303B !important
	color #899AAB !important
	font-size 23px !important
.custom-style
	i
		display inline !important
		color #fff !important
		font-size 20px !important
		margin-right 10px
	input
		display inline !important
		width 90% !important
.logo-login
	width 300px
	height 200px	
	img
		height 200px
		margin-left 67%
.text-login
	font-family 'Open Sans', sans-serif !important
	font-size 40px !important
	color #fff
.boton-login
	background-color #16A89F !important
	border-radius 30px
	&:hover
		background-color #077D76 !important
.error-login
	color #fff !important
	font-size 20px
	i
		color red !important
		margin-right 10px !important
.ico-error
	i
		color red !important
.succes-login
	h1
		color #fff
	i
		color #fff
@-webkit-keyframes loading 
	from
		-webkit-transform rotate(0deg)	
	to
		-webkit-transform rotate(360deg)
.icon-loading 
	-webkit-animation loading 2s linear infinite
	font-size 30px !important
	margin-left 65px !important

	